<div class="display-6 text-center">
  Tabela Alunos
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">Sala</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aluno of alunos">
        <th scope="row">{{aluno.id}}</th>
        <td>{{aluno.name}}</td>
        <td>{{aluno.email}}</td>
        <td>{{aluno.cpf}}</td>
        <td>{{aluno.telefone}}</td>
        <td>{{aluno.sala}}</td>
        <td>
          <button class="btn btn-primary me-1" (click)="edit(aluno)">Editar</button>
          <button class="btn btn-primary" (click)="delete(aluno)">Remover</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7" class="text-end">
          <button class="btn btn-danger" (click)="create()">Novo</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
